.login-form {
    width: 30%;
    margin: 50px auto;
    font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
    padding: 30px;
}
#btngg {
  background-color: #DB4437;
  border-radius: 10px;
}
.notiDetail{
    cursor:pointer!important;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

html, body {
    background-color: #eeeeee;
    height: 100%;
}
#LSidebar {
	height: 100vh;
    position: fixed;
}
#RSidebar {
    padding: 1.5rem; 
	height: 100vh;
    position: fixed;
    margin-left: 73vw;
}
.pageCenter{
    margin-left: 17vw;
}
#RSidebar .RSidebar-content{
    background-color: rgb(255, 255, 255);
    border: 4px;
    border-radius: 15px;
    border-style: outset;
    height: 60vh;
    overflow-y: auto;
}
.RSidebarInfo{
    padding: 0 !important;
}
#LSidebar .sidebar-header {
    margin: 0.25rem;
    padding-top: 0.5rem;
    background-color: white;
    border-radius: 15px !important;
    border-style: solid;
    border-color: #138496 !important;
    height: 25%;
}
.sidebar-header-avt{
    display: flex;
    justify-content: center;
    width: 100%;
}
img.avatar{
    margin-left: 30%
}
.avatar-primary{
    width: 50%;
    object-fit: cover;
}
#LSidebar .sidebar-body {
    background-color: #138496;
    padding-top: 1rem;
    margin: 0.25rem;
    border-radius: 15px;
    height: 100%;
}
a.list-group-item {
    background-color: #138496;
    color: white;
    border: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a.list-group-item:hover{	
    background-color: #117a8b;
    text-shadow: 2px 2px black;
}

.custom-file-upload{
    width: 100%;
}
img:before {
    content: ' ';
    display: block;
    position: absolute;
    background-image: url();
}
.gedf-wrapper {
    margin-top: 0.5rem;
}
@media (min-width: 992px) {
    .gedf-main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .gedf-card {
        margin-top: 1rem;
    }
}

#file-upload{
    display: none;
}
.postImg{
    width:100%;
}
.commentBtn{
    color: white;
}
#postBtn{
    width: 100%!important;
    background-color: #0d93f8;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.2rem;
    padding: 7px 25px 7px 25px;
    width:auto;
    float: right;
}
#postBtn:hover{	
    background-color: #0481ca;
}	
#postBtn:active{	
    margin-top: 0.3rem;	
}
#toggleVideoBtn{
    width: 100%;
}
#videoinput{
    display: none;
}
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.feelBtn{	
    width: 100%;	
}
.custombtn{
    border: none;
    background: none;
}
.notiHeader {
    padding-top: 5%;
}
#allNoti{
    float: right;
}
.notiCard{
    width: 100%;
    display: none;
}
.list .list-item {
    *margin-top: 15px;
    float: left;
    padding: 30px;
    padding-left: 0;
}
.list .list-item:first-child{
    margin-top: 20px;
}
.list .list-item:nth-child(odd) {
    background-color: #f9f9f9;
}

.list .block {
    float: left;
    width: 92%;
    margin-left: 5%;
}
.title {
    color: #0061AD !important;
	font-size: 16px;
}
.list .block p {
    margin: 0;
    padding: 0 0px 5px 0;
}
p .title .desc{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.desc {
    text-align: justify !important;
    font-size: 14px !important;
    color: black !important;
}
.link-detail {
    color: #0d93f8 !important;
    font-size: 14px !important;
}
.khoa-phong {
    float: right;
    color: #777777;
    font-size: 14px !important;
}
#searchNotiBtn {
    margin-top: 31px;
}

.rnews-header {
    margin-top: 20px;
    top: 0px !important;
    font-size: 2.0em !important;
    font-weight: bold !important;
    padding-bottom: 1em !important;
    color: #0061AD !important;
    line-height: 1.2em !important;
    text-align: center !important;
}
.rnews-article-content {
    padding-left: 1em !important;
    float: left !important;
    min-width: 100% !important;
    max-width: 100% !important;
    font-family: Tahoma !important;
    font-size: 20px !important;
    text-align: justify !important;
}
.rnews-article-summary {
    color: #0061AD !important;
    float: right !important;
}
#categoryName{
    color:#0061AD !important;
}
.popupnoti{
    margin-top: 1%;
    white-space: normal !important;
    width: 100%;
    text-align: left !important;
    color: white;
}
#postNotiSuccess{
    width:100%;
}
.postNotiContainer{
    display: none;
}
.popupnoticontainer{
    z-index: 100;
    width: 100%;
}
.custombtn{
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.notiCard:hover {
    background-color: #17a2b8!important;
    color: white;
}
.notiTitle {
    text-decoration: none!important;
    color: #343a40;
    font-weight: bold;
}
.custom-card{
    padding: 10px !important;
    padding-bottom: 5px !important;
}

.custombox{
    width:100% !important;
}
.custombox:hover{
    background-color: #b2e8f8 !important;
}
.custombox:hover .notiTitle{
    color: red !important;
    font-size: 120%;
}
.note{
    font-weight: 400;
    font-size: 13px;
    color: #bbb;
    white-space: initial;
    padding-top: 5px;
    line-height: initial;
}
.list .block {
    float: left;
    width: 92%;
    margin-left: 5%;
}
.title {
    color: #0061AD !important;
	font-size: 16px;
}
.list .block p {
    margin: 0;
    padding: 0 0px 5px 0;
}
p .title .desc{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.desc {
    text-align: justify !important;
    font-size: 14px !important;
    color: black !important;
}
.link-detail {
    color: #0d93f8 !important;
    font-size: 14px !important;
}
.khoa-phong {
    float: right;
    color: #777777;
    font-size: 14px !important;
}
#searchNotiBtn {
    margin-top: 31px;
}
.btn-page {
    color: black;
    float: left;
    padding:  12px 18px;
    text-decoration: none;
}
.btn-page.active {
    background-color: #138496;
    color: white;
    border-radius: 50%;
}
.btn-page:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
}

.navbarmenu{
    background-color: #138496;
    margin-bottom: 0.5rem;
    height: 40px;
    padding-top: 0.1rem;
}
.button-dropdown{
    width: 20px;
    margin-top: 0.2rem;
    opacity: 0.75;
    float: left;
}
.button-dropdown:hover{
    opacity: 1;
    border-radius: 5px;
    text-shadow: 2px 2px black;
}
.button-dropdown:active{
    margin-top: 0.3rem;
}
.dropdown-menu{
    border-radius: 5px;
}
@media screen and (max-width: 900px) {
    #LSidebar{
        display: none;
    }
    #RSidebar{
        display: none;
    }
    .pageCenter{
        margin-left: 0vw;
        width: 100vw;
    }
}
@media screen and (max-width: 767px){
    #RSidebar{
        display: none;
    }
}
@media screen and (min-width:1200px) {
    .navbarmenu{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    #LSidebar{
        display: none;
    }
    #RSidebar{
        margin-left: 57vw;
    }
    .pageCenter{
        margin-left: 0;
    }
    .gedf-wrapper{
        margin-top: 0;
    }
}

@media screen and (max-height: 480px) {
    #LSidebar{
        display: none;
    }
}
@media screen and (max-height: 480px) {
    .navbarmenu{
        display: block;
    }
    .gedf-wrapper{
        margin-top: 0;
    }
}

.infHeader{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #129beb;
    padding: 5px 0 4px 0;
}
.infBody{
    border: none;
    padding-top: 2%;
}
.card-img{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 30%;
}
.infBody-img{
    border: 2px solid black;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}
#navbar-title{
    font-size: 20px ;text-shadow: 2px 2px rgb(46, 194, 46);
}
#text-center{
    text-align: center;
}
#postNotiBtn{
    width: 100%;
    color: white;
}
.white-text{
    color: white;
}
a {
    text-decoration: none;
}
a :hover{
    text-emphasis: none;
}
.btn-block{
    color: white !important;
}

.form-check-categories{
    padding: 1%;
    margin: 5px 0px 10px 0px;
    border: 2px solid #129beb;
    border-radius: 15px;
    border-top: 20px solid #129beb;
}
.form-check{
    font-style: italic;
}
#createBtn{
    margin-top: 1%;
    margin-bottom: 2%;
}

.editNotiBtn{
    position: fixed;
    bottom: 20px;
    margin-left: 59%;
    width: 10%
}
.deleteNotiBtn{
    position: fixed;
    bottom: 20px;
    margin-left: 70%;
    width: 10%
}
.createAcc{
    width: 60%;
    margin-left: 25%
}
.showCommentsBtn{
    display: none;
    color: #0dcaf0;
}
.showCommentsBtn:hover{
    color: white;
}
.hideCommentsBtn{
    color: #0dcaf0;
}
.hideCommentsBtn:hover{
    color: white;
}