.login-form {
    width: 30%;
    margin: 50px auto;
    font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
    padding: 30px;
}
#btngg {
  background-color: #DB4437;
  border-radius: 10px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

html, body {
    background-color: #eeeeee;
    height: 100%;
}
#LSidebar {
	height: 100vh;
    position: fixed;
}
#RSidebar {
    padding: 1.5rem; 
	height: 100vh;
    position: fixed;
    margin-left: 73vw;
}
.pageCenter{
    margin-left: 17vw;
}
#RSidebar .RSidebar-content{
    background-color: white;
    border: 4px;
    border-radius: 15px;
    border-style: outset;
    height: 60vh;
    overflow-y: auto;
}
#LSidebar .sidebar-header {
    margin: 0.25rem;
    padding-top: 1rem;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    height: 30%;
}
#LSidebar .sidebar-body {
    padding-top: 1rem;
    margin: 0.25rem;
    border-radius: 15px;
    height: 40%;
}
a.list-group-item {
    border: none;
}
img.avatar {
  margin-left: 30%
}
img:before {
    content: ' ';
    display: block;
    position: absolute;
    background-image: url();
}
.gedf-wrapper {
    margin-top: 0.5rem;
}
@media (min-width: 992px) {
    .gedf-main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .gedf-card {
        margin-top: 1rem;
    }
}

#file-upload{
    display: none;
}
.postImg{
    width:100%;
}
#postBtn{
    width:100%;
}
#videoinput{
    display: none;
}
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.custombtn{
    border: none;
    background: none;
}
.notiHeader {
    margin-top: 5%;
}
#allNoti{
    float: right;
}
.notiCard{
    width: 100%;
    display: none;
}
.list .list-item {
    *margin-top: 15px;
    float: left;
    padding: 30px;
    padding-left: 0;
}
.list .list-item:first-child{
    margin-top: 20px;
}
.list .list-item:nth-child(odd) {
    background-color: #f9f9f9;
}

.list .block {
    float: left;
    width: 92%;
    margin-left: 5%;
}
.title {
    color: #0061AD !important;
	font-size: 16px;
}
.list .block p {
    margin: 0;
    padding: 0 0px 5px 0;
}
p .title .desc{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.desc {
    text-align: justify !important;
    font-size: 14px !important;
    color: black !important;
}
.link-detail {
    color: #0d93f8 !important;
    font-size: 14px !important;
}
.khoa-phong {
    float: right;
    color: #777777;
    font-size: 14px !important;
}
#searchNotiBtn {
    margin-top: 31px;
}
.btn-page {
    color: black;
    float: left;
    padding:  12px 18px;
    text-decoration: none;
}
.btn-page.active {
    background-color: dodgerblue;
    color: white;
    border-radius: 50%;
}
.btn-page:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
.rnews-header {
    margin-top: 20px;
    top: 0px !important;
    font-size: 2.0em !important;
    font-weight: bold !important;
    padding-bottom: 1em !important;
    color: #0061AD !important;
    line-height: 1.2em !important;
    text-align: center !important;
}
.rnews-article-content {
    padding-left: 1em !important;
    float: left !important;
    min-width: 100% !important;
    max-width: 100% !important;
    font-family: Tahoma !important;
    font-size: 20px !important;
    text-align: justify !important;
}
.rnews-article-summary {
    color: #0061AD !important;
    float: right !important;
}
#categoryName{
    color:#0061AD !important;
}
.popupnoti{
    margin-top: 1%;
    white-space: normal !important;
    width: 100%;
    text-align: left !important;
}
#postNotiSuccess{
    width:100%;
}
.postNotiContainer{
    display: none;
}
.popupnoticontainer{
    z-index: 100;
    width: 100%;
}
.custombtn{
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.newnoti {

    height: 1em;
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
    float: left !important;
    vertical-align: middle;
    border: 0;
    display: none;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}